<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
    <h1>Sobre</h1>
  </section>

  <section class="content">
      <p class="lead">
        Meat | App features of Angular
      </p>
      <p class="lead">
        MIT license
      </p>
      <p class="lead">Copyright 2018 AndCrow (<a href="http://www.gensisws.com">http://www.gensisws.com</a>)</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam autem cumque deleniti dicta iusto laboriosam laudantium omnis, possimus praesentium provident quam quas, sapiente sint, ut! Adipisci aliquid assumenda consequuntur cupiditate deleniti dicta dolore dolorem dolores enim eos hic illo inventore iure libero magnam minima minus obcaecati optio pariatur porro quibusdam quos reiciendis, sapiente sint veritatis. Eveniet in magni sunt?</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam autem cumque deleniti dicta iusto laboriosam laudantium omnis, possimus praesentium provident quam quas, sapiente sint, ut!            </p>
      <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam autem cumque deleniti dicta iusto laboriosam laudantium omnis, possimus praesentium provident quam quas, sapiente sint, ut! Adipisci aliquid assumenda consequuntur cupiditate deleniti dicta dolore dolorem dolores enim eos hic illo inventore iure libero magnam minima minus obcaecati optio pariatur porro quibusdam quos reiciendis, sapiente sint veritatis. Eveniet in magni sunt?</p>
      <p class="lead">
        Imagens usadas na aplicação por <a href="http://www.freepik.com" target="_blank">freepik.com</a>
      </p>

    </section>
<!-- FIM DO CONTEÚDO -->
